@using teamProject.viewModel
@using System.Collections.Generic
@model OfferServiceProviderViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="myMainOwnContaier">
    <div class="container myOwnContaier rounded p-5">
        <div class="row">
            <table class="table table-hover">
                <thead class="headerLabel">
                    <tr class="p-3 border-bottom text-center">
                        <th colspan="2">Offer Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="p-3 border-top border-bottom">
                        <td><label class="control-label inputLabel">@Html.DisplayNameFor(model => model.Name)</label></td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label class="control-label inputLabel">@Html.DisplayNameFor(model => model.OfferDuration)</label></td>
                        <td>@Html.DisplayFor(model => model.OfferDuration)</td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label class="control-label inputLabel">@Html.DisplayNameFor(model => model.ServiceProviderId)</label></td>
                        <td>@Html.DisplayFor(model => model.ServiceProviderId)</td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label class="control-label inputLabel">@Html.DisplayNameFor(model => model.ServiceProviderName)</label></td>
                        <td>@Html.DisplayFor(model => model.ServiceProviderName)</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="p-3 border-top">
                        <td><a asp-action="Index" class="btn btn-secondary">Back to List</a></td>
                        <td><a asp-controller="Offer" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
