@using teamProject.viewModel
@using System.Collections.Generic
@model OfferServiceProviderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row"> 
       @*  <dt class = "col-sm-2" >
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd> *@
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.OfferDuration)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OfferDuration)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServiceProviderId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServiceProviderId)
        </dd>

        <dt class = "col-sm-3" >
            @Html.DisplayNameFor(model => model.ServiceProviderName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ServiceProviderName)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Offer" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
