@using teamProject.viewModel
@using System.Collections.Generic
@model List<OfferServiceProviderViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




<h2>Offers</h2>
<a asp-action="Create" class="btn btn-primary">Create New Offer</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Service Provider</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr>
                <td>@offer.Name</td>
                <td>@offer.OfferDuration</td>
                <td>@offer.ServiceProviderName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@offer.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@offer.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@offer.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
