@using teamProject.viewModel
@using System.Collections.Generic
@model List<OfferServiceProviderViewModel>

@{
    ViewData["Title"] = "Offers";
    Layout = "_MyLayout";
}

<form id="deleteForm">
    @Html.AntiForgeryToken()
</form>

<div class="myMainOwnContaier">
    <div class="container myOwnContaier rounded p-5">
        <div class="row flex-nowrap justify-content-between branchHeader">
            <h2 class="fs-1 col-sm-6">Offers</h2>
            <h4 class="fs-2 col-sm-6 text-end">Total Offers: @Model.Count</h4>
        </div>

        <div class="row">
            <a asp-action="Create" class="my-3 btn custom-btn btn-3"><span>+ Add Offer</span></a>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr class="p-3 border-top border-bottom pt-3">
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Service Provider</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var offer in Model)
                    {
                        <tr class="p-3 border-top border-bottom pt-3">
                            <td>@offer.Name</td>
                            <td>@offer.OfferDuration</td>
                            <td>@offer.ServiceProviderName</td>
                            <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@offer.Id" class="btn btn-primary mx-1" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@offer.Id" class="btn btn-info mx-1" title="Details">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                @* <button class="btn btn-danger mx-1" onclick="confirmDelete(@offer.Id, '/Offer/DeleteConfirmed')"> *@
                                @*     <i class="fas fa-trash"></i> *@
                                @* </button> *@
                                <button asp-controller="Offer" class="btn btn-danger mx-2" onclick="confirmDelete(@offer.Id, '/Offer/DeleteConfirmed')" title="Delete"> 
                                    <i class="fas fa-trash"></i> 
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
